.navbar{
    background-color: #fff;
    height: 80px;
    margin:20px;
    padding: 0.5rem;
    border-radius: 16px;
}
.img-thumbnail{
    width: 50px !important;
    margin: 0 10px;
}
.navbar-brand{
    font-weight: 500 !important;
    font-size: 24px !important;
    color: #009970 !important;
    transition: 0.3s color !important;

}

.navbar-toggler{
    border: none !important;
    font-size: 1.25rem !important;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none !important;
    outline: none !important;
}

.nav-link{
    color: #666777 !important;
    font-weight: 500 !important;
    position: relative !important;
}

.nav-link:hover, .nav-link:active{
    color: #000 !important;
}

.hero-section{
    background-color: #285943;
    width: 100%;
    height: 100%;
}

.container{
        margin: 10px auto !important;
}

.table{
    border-radius: 16px !important;
    width: 60% !important;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center !important;
}

.list-group{
    width: 100% !important;
}

form{
    color: #fff;
    width: 70%;
    margin: 20px !important;
}

@media (min-width: 991px){
    .nav-link::before{
    content: "" !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 0 !important;
    height: 2px !important;
    background-color: #009970 !important;
    visibility: hidden !important;
    transition: 0.3s ease-in-out !important;
    }

    .nav-link:hover::before, .nav-link.active::before{
    width: 100% !important;
    visibility: visible !important;
    }
}
